.container_hidden {
	position: absolute;
	transform: translateX(-100vw);
}

.container_active {
	background-color: rgba(0, 0, 0, 0.3);

	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;

}

.panel {
	background-color: white;

	height: 100%;
	width: 70%;
}

.nav {
	height: 3rem;
	// background-color: aqua;
}
