.container {
	background-color: white;

	padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;

  border-radius: 10px;
}

.title {
  font-weight: 400;
}

.description {
  font-weight: 300;
  font-size: medium;
}