


.container{
  padding: 1rem;
  padding-bottom: 4rem;


 

  h3{
    margin: .5rem 0;
    color: #333;
  }
  overflow-x: hidden;
  overflow-y: auto;
}



.dateSelector{
}


.dateConjunto{
  display: flex;
  
}


.addBtn{
  height: 3rem;
  width: 3rem;


  position: absolute;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  border: none;

  background-color: rgb(0, 162, 255);
  color: white;

  font-size: 30px;
}