.container {
	margin-bottom: 0.5rem;
	padding: 1rem;
	border-radius: 1rem;
  
  
	background: white;
	user-select: none;
  
	transition: transform 0.1s;

	div {
		font-size: 16px;
	}

	.title {
		font-size: 20px;
	}

	&:hover {
		transform: scale(101%);
	}
	&:active {
		transform: scale(99%);
	}
}
