.container {
  height: 100%;
  width: 100vh;
  padding: 30px;
  overflow: auto;
}

.test {
  height: 3508px;
  width: 2480px;
  background-color: rgb(255, 255, 255);
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/***********/
.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  margin-bottom: 40px;
}

.titulo {
  font-size: 100px;
  color: rgba(0, 0, 0, 0.49);
  width: 20%;
  margin: 0;
  font-weight: 800;
}

.subtitulo {
  color: #000;
  font-size: 70px;
  margin: 0;
  text-align: justify;
}
/***********/

.data {
  width: 100%;
  height: 200px;
}

.data p {
  font-size: 40px;
}
