// .container_hidden {

// }

.overlay {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;

	transition: opacity 0.2s, transform 0.2s;
}

.panel {
	background-color: white;
	height: 100%;
	width: 70%;
	transition: transform 0.25s;
}

.overlay.hidden {
	opacity: 0;
	transform: translateX(-100vw);

	// visibility: hidden;

	.panel {
		transform: translateX(-100vw);
	}
}
