.container {
	padding: 1rem;
	padding-bottom: 4rem;
	

	& > form > div {
		background-color: white;
		border-radius: 1rem;
		margin-bottom: 0.5rem;
		padding: 1rem;
		// border: solid black 1px;
	}

	.formControls {
		display: flex;
		padding: 0;

		background:none;

		// justify-content:

		button {
			flex-grow: 1;

			height: 2rem;
			border-radius: 1rem;
			border: none;


			&:first-child {
				margin-right: 1rem;
			}
		}
	}
}

// .card_container {
// 	background-color: white;
// 	border-radius: 1rem;
// 	margin-bottom: 0.5rem;
// 	padding: 1rem;
// }

.addBtn {
	height: 3rem;
	width: 3rem;

	position: absolute;
	right: 1rem;
	bottom: 1rem;
	border-radius: 50%;
	border: none;

	background-color: rgb(0, 162, 255);
	color: white;

	font-size: 30px;
}
