.container{
  background: white;
  border-radius: 1rem;
  padding: 1rem;
}

.video{
  background: gray;
  display: inline-flex;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  iframe{
    width: 100%;
  }
}