.App {
	display: inline-flex;

	height: 100vh;
	width: 100vw;
	// flex-direction: column;
	position: relative;

	overflow: hidden;

	/* sco */
	/* text-align: center; */
}

.SectionApp {
	display: inline-flex;
	overflow: hidden;
	// height: 100%;

	// background: green;
	// overflow-y: auto;
	flex-grow: 1;
	flex-direction: column;
}

.spacework {
	// display: inline-flex;
	overflow: hidden;
	overflow-y: auto;
	flex-grow: 1;
	// flex-direction: column;
}

.scrollInSpacework {
	// padding: 1rem;
	padding-bottom: 4rem;

	overflow-x: hidden;
	overflow-y: auto;

	// div,
	// h3 {
	// 	margin-bottom: 0.5rem;
	// }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
